APP_NAME="Dream Haven"
APP_ENV=production
APP_KEY=base64:oUm6vEf0jYm6MUsBCSwehJKhF/U6SSBvXYGnleJRWB8=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://dreammulk.com
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
BCRYPT_ROUNDS=12
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=real_estate
DB_USERNAME=dreamhaven
DB_PASSWORD=DreamHaven123!
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.dreammulk.com
SESSION_SECURE_COOKIE=true
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=file
CACHE_PREFIX=
MEMCACHED_HOST=127.0.0.1
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=dreammulk.com
MAIL_PORT=587
MAIL_USERNAME=info
MAIL_PASSWORD=DreamInfo2024!
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=info@dreammulk.com
MAIL_FROM_NAME="Dream Mulk"
# Mail Configuration
# MAIL_MAILER=smtp
# MAIL_HOST=smtp.gmail.com
# MAIL_PORT=587
# MAIL_USERNAME=tahaahmad837@gmail.com
# MAIL_PASSWORD=ccdugwjjgwmeafrw
# MAIL_ENCRYPTION=tls
# MAIL_FROM_ADDRESS=tahaahmad837@gmail.com
# MAIL_FROM_NAME="Dream Mulk"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
VITE_APP_NAME="${APP_NAME}"
CACHE_DRIVER=file
QUEUE_CONNECTION=database
REDIS_NOTIFICATION_QUEUE=notifications-default
FIREBASE_PROJECT_ID=dream-haven-31029
FIREBASE_SERVICE_ACCOUNT_PATH=real-estate.json
FIREBASE_API_KEY=AIzaSyDZCXZ-ZvgUK_UWdJzRZPXUQybbLhxuMj8
GOOGLE_CLIENT_ID=755260078996-hcgcskn0khui91g6k2i88kjstakkvdc3.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=Taha123987$
FIRESTORE_ENABLED=false
##email server
##username=info
##password=DreamInfo2024!
##server=localhost
#RoundcubeDB2024!@
APP_DEBUG=true
